//META{"name":"RetroFrog","description":"An amazing RGB theme with full customization included, made by Jbeam. Thank's to Gibbu#1211 for the horizontal server list.","author":"jbeam#7671","version":"1.2", "website":"https://github.com/GoldenLys/"}*//{}
@import url('https://raw.githubusercontent.com/Jbeam-dvlp/NeonFrogTheme/master/base.css');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
    --img: url(https://1.bp.blogspot.com/-JNKVWGLFxog/XT5FDTovZeI/AAAAAAAATZo/2L5n_bC2ttYEjwVlxFPhZRpXwsOgIRf2ACLcBGAs/s2560/neon_wave_architecture_4k-2560x1440.jpg);
    --font: 'Quicksand', sans-serif;
    --MainColor: rgb(255, 255, 255);
    --bg1: rgb(0, 196, 33);
    --bg2: rgb(7, 196, 170);
    --bg3: rgb(150, 0, 57);
    --Title: "Retro";
    --Online: rgb(255, 255, 255);
    --Idle: rgb(0,99,156);
    --Unavailable: rgb(122, 0, 0);
    --Spotify:  rgb(225, 0, 255);
    --Streaming: rgb(70, 0, 192);
    --darkgrey: rgb(32, 32, 32);
    --darkgrey5: rgba(14, 14, 14, 0.75);
    --membersWrap: 60px; /*Default: 60px | You can set it to 240px to make it always shown*/
}
